h3 {
  align-self: center;
}
form {
  border: 3px solid #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #2b3942;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
}
.signin_title {
  display: flex;
  flex-direction: column;
}
.signin_title img {
  margin: 0 auto;
  height: 100px;
}
.cancelbtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
