@use "@angular/material" as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$blue-grey-palette, 800);
$light-accent: mat.define-palette(mat.$indigo-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

@include mat.core-color($light-theme);
@include mat.button-color($light-theme);
